$width: 60px;
$size: px;
$duration: 1s;

@keyframes selection-transition {
  from { border-color: #79DAFF; box-shadow: inset 0 0 12px #79DAFF; }
  50% { border-color: #FFFFFF; box-shadow: inset 0 0 6px #FFFFFF; }
  to { border-color: #79DAFF; box-shadow: inset 0 0 12px #79DAFF; }
}

.selection-transition {
  position: relative;
  box-sizing: border-box;

  > .decoration {
    box-sizing: border-box;
    animation-fill-mode: both;
    animation: selection-transition $duration infinite linear;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
  }
}