$default-bg: black;
$default-text: white;

body {
  background: $default-bg;
  color: $default-text;
  margin:0;
  padding:0;
  font-family: pf_ronda_sevenregular, Arial, sans-serif;
  font-size:14px
}

h1 {
  font-size: 50px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: pf_ronda_sevenregular;
  display: block;
  font-weight: normal;
}

h2 {
  margin:0px;
  padding:0 0 8px 0;
  border-bottom: 1px dotted;
  font-weight: normal;
  font-size: 22px;
}

button {
  margin: 10px;

  display: inline-block;
  border:3px outset orange;
  box-shadow: inset 0 0 6px orange;
  background-color: #222;
  padding:4px 12px 8px 12px;
  font-size: 32px;
  font-family: pf_ronda_sevenregular;
  color:white;
  border-radius: 3px;

  &.small {
    font-size: 12px;
    padding:0px 12px 4px 12px;
    border:1px outset orange;
    box-shadow: inset 0 0 5px orange;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: #443300;
  }

  &:disabled {
    border:3px outset gray;
    color:gray;
    box-shadow: none;
  }
}

input[type=radio]:checked + * {
  color : #E6E585;
}

label {
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: inset 0 0 5px rgba(255,255,255,0.2);
  display:block;
  padding:5px;
}

.description {
  font-family: Arial, sans-serif;
  font-style: italic;
  padding: 5px 0 10px 5px;

  &.big {
    font-size: 17px;
  }
  &.small {
    font-size: 12px;
  }
}
.maindescription {
  @extend .description;
  font-size: 16px;
  padding-top: 25px;
  max-width: 550px;
  display: block;
  margin: 0 auto;
}

.i-bloc {
  position: relative;
  display: inline-block;
  border: 1px solid #E6E585;
  background-color: #222;
  border-radius: 3px;
  padding:10px;
  vertical-align: top;
  margin:10px 10px 0 0px;
  &:last-child{
    margin-right:0px;
  }
  min-width: 280px;
  box-sizing: border-box;

  //> * {
  //  position: relative;
  //}
  //
  //&:before {
  //  content:'';
  //  display: block;
  //  position:absolute;
  //  top:-3px;
  //  bottom:-3px;
  //  left:-3px;
  //  right:-3px;
  //  border:2px dotted orange;
  //  border-radius: 3px;
  //  z-index:0;
  //  background-color: transparent;
  //}
}

.attribute {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  &:not(:first-child){
    padding-left:20px;
  }
  .monster-bloc & {
    cursor: pointer;
    padding-left:30px;
    width:160px;
  }
  .description {
    padding-left:18px;
  }
}

.collapsable, .expandable {
  position: relative;
  cursor: pointer;
  &:after {
    font-family: monospace;
    font-size: 11px;
    content:'^';
    top:5px;
    right:-25px;
    display:inline-block;
    position: absolute;
    margin-left:5px;
    margin-right:5px;
    padding-left:3px;
    width:15px;
    height:15px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    vertical-align: middle;
  }
}

.expandable {
  &:after {
    content: 'v';
  }
}

.attribute_label {
  font-size: 15px;
  img {
    padding-right:4px;
    vertical-align: baseline;
  }
}
.attribute_value {
  font-size: 18px;
  font-family: monospace;
}

.separator {
  display: inline-block;
  width:15px;
}

.centered {
  text-align: center;
}

.run-bloc {
  .collapsable, .expandable {
    &:after {
      top:15px;
    }
  }
}

.historyLog {
  font-family: monospace;
  text-align: left;
  height:450px;
  overflow-y: auto;
}

.ld33-screen {
  width:100%;
  padding:10px;
  box-sizing: border-box;
  @extend .clearfix;
}

.ld33-inner {
  max-width: 900px;
  min-height: 600px;
  background: url(images/bg.png);
  box-shadow: inset 0 0 8px #000000;
  margin: auto;
  position: relative;
  text-align: center;
}

.ld33-welcome {
  button {
    margin-top: 150px;
  }
}

.ld33-play {
  h1 {
    font-size: 34px;
  }

  ul {
    list-style: none;
    text-align: left;
    padding:0;
    margin:0;
    max-height:300px;
    overflow-y: auto;
  }

  table {
    border:0;
    text-align: left;
    border-collapse: collapse;
  }
  th {
    font-weight: normal;
    color: #E6E585;
  }
  tr:first-child {
    border-bottom: 1px solid white;
  }
  td {
    padding-right:10px;
  }

  button.play {
    font-size: 22px;
    display:block;
    margin: 10px 10px;
    display: inline-block;
  }
}

.preload-images {
    //background: url(images/button.png) no-repeat -9999px -9999px,
    //    url(images/button_hover.png) no-repeat -9999px -9999px;
}

.clearfix:after {
  content:".";
  height:0;
  line-height:0;
  display:block;
  visibility:hidden;
  clear:both;
}