.screen-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  position:absolute;
}

.screen-enter.screen-enter-active {
  opacity: 1;
  position:absolute;
}

.screen-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.screen-leave.screen-leave-active {
  opacity: 0.01;
}

.scroll-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.scroll-enter.scroll-enter-active {
  opacity: 1;
}

.scroll-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.scroll-leave.scroll-leave-active {
  opacity: 0.01;
}